/* Overlay Styling */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bg-gray-900 {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
    z-index: 10;
  }
  
  /* Modal Styling */
  .modal-content {
    background-color: white; /* Solid white background for the modal */
    max-width: 400px;
    /* max-width: 800px;  */
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-gray-500 {
    color: #6B7280;
  }
  
  .hover\:text-gray-800:hover {
    color: #1F2937;
  }
  
  /* Modal Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #6B7280;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #1F2937;
  }
  
  /* Toggle Switch Styling */
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #3b82f6;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  

/* For Mobile Devices */
@media (max-width: 768px) {
    .fixed {
        justify-content: flex-start; /* Align to top for mobile */
        align-items: flex-start; /* Align to left for mobile */
    }
    
    .modal-content {
        top: 150; /* Align at the top */
        left: 100; /* Align at the left */
        transform: translate(0, 0); /* Reset the centering transformation */
        max-width: 300; /* Use full width on mobile */
        width: 100%; /* Ensure full width */
        border-radius: 0px; /* Optional: Remove rounded corners for mobile */
        z-index: 10;
    }
}
    