/* frontend\src\pages\login\Login.css */
.login-button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: #1E40AF; /* blue-800 */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
.login-button:hover {
  background-color: #60A5FA; /* blue-400 */
}


.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

  